.Ball {
  /* background-color: tomato; */
  background: radial-gradient(
    circle at 65% 15%,
    white 1px,
    aqua 3%,
    darkblue 60%,
    aqua 100%
  );
  border-radius: 50%;
  color: white;
  display: inline-block;
  width: 3em;
  height: 2.25em;
  padding-top: 0.75em;
  text-align: center;
  margin-right: 0.25em;
  margin-left: 0.25em;
  font-weight: bold;
  font-size: 1.5em;
}
